APP_NAME=Brocabs
APP_ENV=local
APP_KEY=base64:2Dlvot8sBXzZo7HDBTClzGLvEzo5ctRKXhuY9Pm8g6c=
APP_DEBUG=false
APP_URL=https://app.brocabs.co.za/
APP_FOR=demo1

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


THAWANI_PUBLISHABLE_KEY=HGvTMLDssJghr9tlN9gr4DVYt0qyBy
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=brocabs_co
DB_USERNAME=brocabs_co
DB_PASSWORD=brocabs_co

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=cedbc0d9052d21
MAIL_PASSWORD=ef74a55545a51e
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Which provider to use: sms_sa or twilio
SMS_PROVIDER=sms_sa

# SMS South Africa (MyMobileAPI) HTTP API creds
SMS_SA_USERNAME=your_http_api_key
SMS_SA_PASSWORD=your_http_api_secret
SMS_SA_SENDER_ID=BroCabs   # works only if your account has custom sender IDs enabled


FIREBASE_CREDENTIALS=/www/wwwroot/app.brocabs.co.za/public/push-configurations/firebase.json

FIREBASE_DATABASE_URL=https://bro-cabs-vr-default-rtdb.asia-southeast1.firebasedatabase.app/